<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NBA Game Thread Generator</title>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/shop-item.css') }}" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }
        
        @media (max-width: 576px) {
            nav>.container {
                width: 100%;
            }
        }

    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="/">NBAGTG v0.1a</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/vibat/realgm-gamethread-generator">Source Code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://forums.realgm.com/boards/ucp.php?i=pm&mode=compose&u=143622">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-block" align="center">
                            <h3 class="card-title">Select Date</h3>
                            <form action = "{{ url_for('get_games') }}" class ="dateSelector">
                                <input type="date" name="date" required/>
                                <input type="submit" class="btn" value="Get Games">
                            </form>
                        </div>

                    </div>
                    <div class="col-md-8" align="center">
                        <br>
                        <h3 class="card-title" align="center">Select Game</h3>

                        <div class="btn-group-justified btn-group-sm">
                            <form action="{{ url_for('summary')}}" class="gameSelector" method="post">
                                {% for game in games %}
                                <button class="btn btn-primary" name="gid" value="{{ game.id }}">{{ game.home.name }} vs {{ game.away.name }}</button>
                                {% endfor %}
                            </form>

                        </div>

                        <!-- /.card -->
                    </div>


                </div>


                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Preview
                    </div>
                    <div class="card-block">
                    </div>
                </div>

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        phpBB markup source
                    </div>
                    <p class="card-block">
                        <code style="white-space: pre-wrap;">{{ game }}</code>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; Banana Don't Lie 2017</p>
        </div>
        <!-- /.container -->
    </footer>


    <!--scripts loaded here-->
    <script type="text/javascript">

    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
