<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NBA Game Thread Generator</title>

    <script src="static/js/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/shop-item.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }
        
        @media (max-width: 576px) {
            nav>.container {
                width: 100%;
            }
        }

    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="#">NBAGTG v0.1a</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Source Code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-block" align="center">
                            <h3 class="card-title">Select Date</h3>
                            <form action="py/app.py" method="post">
                                <input type="date" name="date" id="datepicker" />
                                <input type="submit" class="btn" value="Get Games">
                            </form>
                        </div>

                    </div>
                    <div class="col-md-8" align="center">
                        <br>
                        <h3 class="card-title" align="center">Select Game</h3>

                        <div class="btn-group-justified">
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                        </div>
                        <div class="btn-group-justified">
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                        </div>

                        <div class="btn-group-justified">
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                            <a href="#" class="btn btn-primary btn-sm">Apple Nuggets vs Phoenix Cows</a>
                        </div>


                        <!-- /.card -->
                    </div>


                </div>


                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Preview
                    </div>
                    <div class="card-block">
                    </div>
                </div>

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        phpBB markup source
                    </div>
                    <div class="card-block">
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; Banana Don't Lie 2017</p>
        </div>
        <!-- /.container -->
    </footer>


    <!--scripts loaded here-->
    <script type="text/javascript">

    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="static/js/tether.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
